html, body {
    margin: 0;
    padding: 0;
    background-color: lightgreen;
}

.my-show {
    background-color: lightblue;
    margin: 0.3rem;
    padding: 1rem;
    border: 0.1rem solid black;
    border-radius: 0.4rem;
    text-align: center;    
    font-size: 1.3rem;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 2rem 13rem auto;
    grid-gap: 0.2rem;
}

.my-show-title {
    grid-column: span 4;
}

.my-show-summary {
    grid-column: span 4;
    font-size: 1rem;
    overflow-y: auto;
}

.my-show-season {
    font-size: 1.1rem;
    padding: 0.1rem;
    border: 0.1rem solid black;
    background-color: lightyellow;
}

#modal {
    position: relative;
    background: #FFF;
    padding: 20px;
    height: 200px;
    max-width: 600px;
    margin: 0 auto;
    top: 30%;
}

#overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.2)
}

button {
    background: royalblue;
    padding: .5em 1.5em;
    color: #FFF;
    border: none;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
    font-size: 18px;
    cursor: pointer;
}